* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  --font-mono: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console",
    "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
    "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier,
    monospace;
  --color-light: #f3f4f6;
  --color-yellow: #ffd369;
  --color-lightgrey: #eeeeee;
  --color-navy: #222831;
  --color-grey: #393E46;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-light: #1f2937;
  }

  body {
    background: #393E46;
    color: #eeeeee;
  }
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 100%;
}

#mapDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.leaflet-container {
  height: 100vh;
  width: 100vw;
  z-index: 2;
}

.button {
  background: var(--color-yellow);
  color: var(--color-navy);
  height: 50px;
  width: 120px;
  font-size: 17px;
  text-decoration: none;
  border: none;
}

#navbar {
  background: var(--color-navy);
  width: 100%;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  color: var(--color-lightgrey);
}

#navbar #logo {
  height: 70px;
  margin: 5px 0;
}

#navbar #logo:hover {
  transform: scale(0.94);
}

#navbar #message {
  display: flex;
  align-items: center;
  font-size: 26px;
}

#navbar #nav-buttons {
  display: flex;
  justify-content: flex-end;
}

#navbar a {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#navbar #nav-buttons a {
  padding: 0 10px;
  text-decoration: none;
  background: var(--color-navy);
  color: var(--color-lightgrey);
  border-left: 2px solid var(--color-lightgrey);
}

#navbar #nav-buttons a:hover {
  background: var(--color-yellow);
  color: var(--color-navy);
}

#navbar button {
  font-size: 15px;
  background: var(--color-navy);
  color: var(--color-lightgrey);
  padding: 0 10px;
  border: none;
  border-left: 2px solid var(--color-lightgrey);
}

#navbar button:hover {
  background: var(--color-yellow);
  color: var(--color-navy);
}

.arrowDown {
  border: solid var(--color-grey);
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 15px;
  transform: rotate(45deg);
}

.bounce {
  position: relative;
  -webkit-animation: bounce 1.5s infinite;
}

@-webkit-keyframes bounce {
  0% {
    bottom: 0px;
  }
  50% {
    bottom: 20px;
  }
  100% {
    bottom: 0;
  }
}

.arrow-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-between;
  width: 100%;
  height: 20px;
  margin-bottom: 10%;
  color: var(--color-grey);
}

#fixed {
  position: fixed;
  width: 100%;
}

.spacer {
  width: 100%;
  height: 90vh;
}

#news-container {
  display: flex;
  justify-content: center;
}

#news {
  width: 90vw;
  background: rgba(238, 238, 238, 0.9);
  padding: 40px 20px;
  z-index: 10;
}

#news h1 {
  text-align: center;
}

#news-content {
  opacity: 100%;
  color: var(--color-navy);
  overflow: hidden;
  min-height: 90vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  z-index: 10;
}

.news-card {
  position: relative;
  background: url("https://www.aljazeera.com/wp-content/uploads/2022/02/graph.jpg?resize=770%2C513")
    no-repeat center center;
  background-size: cover;
  min-width: 200px;
  flex-basis: 30%;
  height: 300px;
  color: var(--color-lightgrey);
  margin: 10px;
  overflow: hidden;
}

.news-content {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  max-height: 300px;
  width: 100%;
  flex-grow: 1;
  bottom: 0;
}

.news-card a {
  color: var(--color-yellow);
  text-decoration: none;
}

.news-card .articleHeadline {
  padding: 10px;
  border-bottom: 3px solid var(--color-yellow);
  overflow: hidden;
  text-overflow: ellipsis;
}

.news-card .articlePicture {
  width: 100%;
  position: relative;
  bottom: 0;
}
 
/* MANAGE CSS DOWN HERE */
main.manageWrapper {
  position: relative;
  background: var(--color-lightgrey);
  top: 80px;
  color: var(--color-navy);
  min-height: calc(100vh - 80px);
  width: 90vw;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
  .teamsListWrapper,
  .addMemberWrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
  }
    .manageTitle {
      display: inline-block;
      padding-bottom: 10px;
      margin-bottom: 15px;
    }

  .teamsListWrapper {
    flex: 4;
    width: 70%;
  }
    .teamsListWrapper .manageTitle {
      border-bottom: 3px solid var(--color-yellow);
    }
      .teamsListFlex {
        display: flex;
        flex-direction: column;
      }
        .teamMember {
          display: flex;
          justify-content: left;
          padding: 10px 0;
          border-bottom: 1px solid var(--color-grey);
        }
          .teamMember span {
            display: inline-block;
            width: 33%;
          }
          .teamMember.teamMemberHeading span {
            font-weight: bold;
          }

  .manageGhost {
    flex: 1;
    min-width: 500px;
  }
    .addMemberWrapper {
      position: fixed;
      background: var(--color-yellow);
      width: 480px;
      right: calc(5vw + 40px);
    }
      .addMemberWrapper .manageTitle {
        border-bottom: 3px solid var(--color-grey);
      }
      .addMemberFlex {
        display: flex;
        justify-content: center;
        gap: 20px;
      }
        .labels span,
        .inputs input,
        .inputs select {
          display: block;
          margin-top: 2px;
        }
        .inputs input,
        .inputs select {
          width: 170px;
          height: 22px;
          border: 0;
        }
        .labels span:first-child,
        .inputs input:first-child {
          margin-top: 0;
        }
        .labels span {
          text-align: right;
        }
        .addMemberFlex button {
          font-size: 15px;
          background: #393E46;
          color: var(--color-lightgrey);
          padding: 0 10px;
          border: none;
        }
        .addMemberFlex button:hover {
          background: var(--color-navy);
        }

/* Scrollbar */
::-webkit-scrollbar {
  background: transparent;
  width: 6px;
}
::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-track-piece {
  background: var(--color-navy);
}
::-webkit-scrollbar-thumb {
  background: var(--color-yellow);
}