---
import Map from "../components/Map.jsx"
let title = "GUSS 2022";
---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<style global>
		@import "../styles/global.css";
		@import "../styles/home.css";
	</style>
</head>
<body>
	<main>
		<Map client:load />
	</main>
</body>
</html>
