---
import MapHandler from "../components/Map.jsx"

let title = "GUSS 2022";
---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
		integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
		crossorigin=""/>
	<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
		integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
		crossorigin=""></script>
	
	<title>{title}</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<style global>
		@import "../styles/global.css";
		@import "../styles/home.css";
	</style>
</head>
<body>
	<main>
		<MapHandler client:only />
	</main>
</body>
</html>
