---
import Manage from "../components/database/Manage.tsx";
---
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		
		<!--leaflet map parts--> 
		<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
			integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
			crossorigin=""></script>
		
		<!--various project settings-->
		<title>Team News</title>
		<link rel="icon" href="/assets/tab-icon.png">
		<style global>
			@import "../styles/main.css";
			@import "../styles/manage.css"; 
		</style>  
	</head> 

	<Manage client:load/>
</html>
